
# Dependencies
node_modules/

# Project build
dist/

# Linter config, editor config
.eslintrc
.vscode/

# Environment variables
.env*

# Firestore
.firebaserc*
firestore-debug.log*
ui-debug.log*
firebase-debug.log*
